:root {
  --custom-orange: #d35649;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: none;
  color: unset;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

/* Navbar */

nav {
  color: white;
  background-color: var(--custom-orange);
}

/* Image and Search section  */

.img-and-search {
  background: url(images/grutas.jpg) center no-repeat;
  background-size: cover;
  height: 86vh;
}

.img-and-search h5 {
  color: white;
}

.search-container {
  background-color: rgba(219, 219, 219, 0.6);
  border-radius: 7px;
}

.search-container input,
.search-container button {
  width: 100%;
}

.search-container .btn-danger {
  background-color: var(--custom-orange);
}

/* Steps Section  */

.steps i {
  font-size: 2em;
}

.steps-title h5 {
  color: var(--custom-orange);
  font-weight: 700;
}

.steps-subtitle {
  font-weight: 700;
}

/* Extra Information  */

.extra-section-1 {
  background-color: #e17f65;
}

.extra-section-2 {
  background-color: #99a4a5;
}

.extra-section-3 {
  background-color: #509bd7;
}

.extra-left {
  width: 100%;
}

.extra-left h5,
.extra-left p {
  color: white;
}

.extra-left button {
  color: var(--custom-orange);
  background-color: white;
}

.circular-img {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular-img img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.extra-section-2 .extra-left button {
  color: gray;
}

.extra-section-3 .extra-right img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 230px;
  width: auto;
}

/* Footer  */

.black-footer {
  background-color: black;
}

.footer-menu {
  color: white;
  word-wrap: normal;
  border-top: 1px solid #474747;
  border-bottom: 1px solid #474747;
  font-size: 1.2em;
  font-weight: 700;
}

.footer-menu li {
  margin-right: 5%;
}

.sub-cont-ab h5,
.sub-cont-ab p {
  color: white;
}

.sub-cont-ab a {
  color: tomato;
}

.sub-elements {
  width: 100%;
}

.element-1 input {
  background-color: black;
  color: white;
  border: 1px solid #474747;
}

.element-1 .btn-dark {
  margin-left: -5px;
  border-radius: 0;
  padding: 1px 30px 1px 30px;
  margin-bottom: 5px;
}

/* Gray Footer  */

.gray-footer {
  background-color: #1f1f1f;
}

.gray-left,
.gray-right {
  color: darkgray;
}

/* Search-Results page  */

.search-bar {
  background-color: #eee;
}

.form-control {
  width: 60%;
  margin: 0 auto;
}

.search-clear-buttons button {
  color: white;
}

/* Monument Detail  */

.monument-details {
  box-shadow: 0 -1px 5px 2px lightgray;
}

.monument-details h5 {
  color: var(--custom-orange);
  font-weight: 500;
}

.monument-details .btn-info {
  background-color: #509bd7;
}

.details-left,
.details-right {
  width: 80%;
}

.grid-container p {
  border: 1px solid lightgray;
}

.grid-container span {
  color: #509bd7;
  font-weight: 500;
}

.more-details p {
  font-weight: 500;
}

.more-details-info {
  background-color: #f5f5f5;
}

.map-directions {
  color: orangered;
}

.info-list i {
  color: #509bd7;
}

.info-list span {
  color: #92b472;
}

iframe {
  width: 100%;
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .extra-left {
    width: 60%;
  }

  .extra-section-3 .extra-right img {
    margin-left: -50px;
  }

  .extra-section-3 .extra-3 {
    margin-left: -30px;
  }

  .sub-elements {
    width: 50%;
  }

  .element-1 input {
    width: 50%;
  }

  .img-and-search ul {
    width: 70%;
  }

  /* Search Results  */

  .form-control {
    width: 30%;
    margin: 0 auto;
  }

  /* Monument Detail  */

  .details-left {
    width: 49%;
  }

  .details-right {
    width: 49%;
  }
}

@media only screen and (min-width: 1024px) {
  .monument-result {
    display: flex;
    justify-content: center;
  }

  .monument-result img {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (min-width: 1440px) {
  .sub-elements {
    width: 20%;
  }

  .element-1 input {
    width: 60%;
  }

  .img-and-search ul {
    width: 60%;
  }

  .monument-result img {
    width: 400px;
    height: 400px;
  }

  .form-control {
    width: 100%;
  }
}
